In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [3]:
def ans_zero():
    return df.iloc[0]

ans_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [4]:
import pandas as pd

In [5]:
Max_Gold = df['Gold']
print(max(Max_Gold))

976

In [6]:
df.columns

Index(['# Summer', 'Gold', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total', 'ID'],
      dtype='object')

In [7]:
df['Country'] = df.index
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Country
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,Afghanistan
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG,Algeria
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG,Argentina
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM,Armenia
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ,Australasia

In [8]:
copy_df = df.copy()

In [9]:
cols_to_keep = ['Country',
               'Gold',
               'Gold.1',
               'Gold.2',]
Just_Gold = copy_df[cols_to_keep]
Just_Gold.head()

                 Country  Gold  Gold.1  Gold.2
Afghanistan  Afghanistan     0       0       0
Algeria          Algeria     5       0       5
Argentina      Argentina    18       0      18
Armenia          Armenia     1       0       1
Australasia  Australasia     3       0       3

In [10]:
# Renaming columns to remove the 'periods'
Just_Gold.columns = ['Country', 'SGold', 'WGold', 'TGold']
Just_Gold.head()

                 Country  SGold  WGold  TGold
Afghanistan  Afghanistan      0      0      0
Algeria          Algeria      5      0      5
Argentina      Argentina     18      0     18
Armenia          Armenia      1      0      1
Australasia  Australasia      3      0      3

In [11]:
# Quite sure there is a simpler way but.....

diff = Just_Gold['SGold'] - Just_Gold['WGold']
diff.head()

Afghanistan     0
Algeria         5
Argentina      18
Armenia         1
Australasia     3
dtype: int64

In [12]:
# Get the index for the cell with max value

diff.argmax()

'United States'

In [13]:
# Checking above
diff['United States']

880

In [14]:
sel = Just_Gold[(Just_Gold['SGold'] > 0) & (Just_Gold['WGold'] > 0)]
sel.head()

             Country  SGold  WGold  TGold
Australia  Australia    139      5    144
Austria      Austria     18     59     77
Belarus      Belarus     12      6     18
Belgium      Belgium     37      1     38
Bulgaria    Bulgaria     51      1     52

In [23]:
val = (sel['SGold'] - sel['WGold']) / sel['TGold']
val.argmax()
val

Australia                 0.930556
Austria                  -0.532468
Belarus                   0.333333
Belgium                   0.947368
Bulgaria                  0.961538
Canada                   -0.024793
China                     0.887324
Croatia                   0.200000
Czech Republic            0.333333
Czechoslovakia            0.921569
Estonia                   0.384615
Finland                   0.412587
France                    0.733906
Germany                   0.380952
United Team of Germany    0.555556
East Germany              0.593750
West Germany              0.671642
Great Britain             0.918699
Italy                     0.685106
Japan                     0.857143
Kazakhstan                0.882353
South Korea               0.514019
Netherlands               0.350877
Norway                   -0.356322
Poland                    0.828571
Russia                    0.458564
Soviet Union              0.670190
Unified Team              0.666667
Slovakia                  0.555556
Slovenia                  0.333333
Spain                     0.947368
Sweden                    0.481865
Switzerland              -0.030928
Ukraine                   0.885714
United States             0.820896
Uzbekistan                0.666667
dtype: float64